body {
  margin: 0;
  font-family: "Century-Gothic", serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  background: #101820;
  align-items: center;
}

nav > h3 {
  color: #fee715;
  font-size: 36px;
  font-weight: 700;
  margin-left: 24px;
  margin-top: 0;
  margin-bottom: 5px;
  font-family: "modesto-condensed", serif;
}

nav > button {
  width: 149px;
  height: 30px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Century-Gothic", serif;
  font-size: 12px;
  color: #ffffff;
  margin-right: 24px;
  margin-bottom: 5px;
  cursor: pointer;
}

nav > button:hover {
  background: rgba(254, 231, 21, 0.9);
  color: #0a0c0f;
}

.text-container {
  max-width: 970px;
  margin: 0 auto;
  text-align: left;
}

.light {
  background: linear-gradient(180deg, #fff068 0%, #fee715 100%);
  text-align: center;
  padding: 48px 48px 70px 48px;
}

.dark {
  background: linear-gradient(180deg, #0a0c0f 0%, #101820 100%);
  color: #fff;
  text-align: center;
  padding: 48px 48px 70px 48px;
}

.title {
  margin-top: 0;
  font-family: "modesto-condensed", serif;
  font-size: 64px;
}

.paragraph {
  margin-bottom: 0;
  font-size: 24px;
}

.map--img {
  margin: 48px auto;
  width: 384px;
  height: 384px;
}

.comingSoon--quest {
  width: 204px;
  height: 48px;
  margin: 0 auto;
  background-image: url("../public/images/ComingSoon_1.png");
  background-size: cover;
  border: hidden;
  cursor: pointer;
}

.comingSoon--quest:hover {
  background-image: url("../public/images/ComingSoon_2.png");
  background-size: cover;
}

footer {
  background: linear-gradient(180deg, #fff068 0%, #fee715 100%);
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer--text {
  font-size: 12px;
  opacity: 0.5;
  margin: 0;
}
/*=========
  Card
==========*/

.multi--cards--container {
  display: grid;
  gap: 48px;
  grid-template-columns: repeat(5, 1fr);
  margin: 48px auto 30px auto;
  max-width: 1400px;
}

.card {
  width: 233px;
  height: 386px;
  border-radius: 6.56px;
  background-image: url("../public/images/Card.png");
  background-size: cover;
  color: #000000;
}

.card--img,
.concept--card--img {
  width: 172px;
  height: 172px;
  margin: 19.87px 30.4px 28px 30.4px;
  object-fit: cover;
}

.card--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
}

.card--name {
  margin: 0;
  font-family: "modesto-condensed", serif;
}

.card--price {
  margin: 0;
  font-size: 18px;
}

.card--title,
.concept--card--title,
.card--text,
.card--stats--img,
.card--stats--grid {
  margin-left: 25px;
  margin-right: 25px;
}

.card--text {
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: left;
  height: 42px;
}

.card--stats--img {
  width: 183px;
}

.card--stats--grid {
  width: 183px;
  height: auto;
  display: flex;
}

.card--stat {
  width: 29px;
  font-size: 7px;
  margin: 0;
  margin-left: 1.8px;
}

.card--stat:first-child {
  margin-left: 0;
}

.bold {
  font-weight: 700;
}

.concept--card--title {
  text-align: center;
  font-size: 24px;
}

.concept--card--img {
  margin-bottom: 24px;
}

.concept--card--btn {
  width: 136px;
  height: 32px;
  margin: 23px auto 0 auto;
  background-image: url("../public/images/ComingSoon_1.png");
  background-size: cover;
}

.concept--card--btn:hover {
  background-image: url("../public/images/ComingSoon_2.png");
  background-size: cover;
}
/*============
Version Card
===========*/

.versionCard {
  width: 275px;
  height: 340px;
  border-radius: 18px;
  padding: 26px;
  background: #ffffff;
}

.versionCard--title {
  font-family: "modesto-condensed", serif;
  font-size: 64px;
  margin-top: 0;
  margin-bottom: 22px;
}

.versionCard--feature {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 18px;
}

.version--cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  margin: 48px auto 25px auto;
  gap: 93px;
}

/*============
Mint Section
============*/

.mint--flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.mint {
  text-align: left;
  margin-left: 161px;
  margin-right: 161px;
  max-width: 830px;
}

.mint--card {
  min-width: 249px;
  min-height: 299px;
  background-image: url("../public/images/MintCard.png");
  background-size: cover;
  margin-right: 161px;
}

.mint--card--title {
  font-size: 24px;
  font-family: "modesto-condensed", serif;
  color: #ffffff;
  margin-bottom: 12px;
}

.mint--card--img {
  width: 180px;
  height: 180px;
  margin-bottom: 0;
}

.mint--card--btn {
  width: 136px;
  height: 32px;
  background-image: url("../public/images/MintNow.png");
  background-size: cover;
  margin: 12px auto 20px auto;
}

.mint--card--btn:hover {
  background-image: url("../public/images/MintNow_Hover.png");
  background-size: cover;
}

.mint--card--btn:active {
  background-image: url("../public/images/MintNow_Clik.png");
  background-size: cover;
}

@media screen and (max-width: 1450px) {
  .multi--cards--container {
    grid-template-columns: repeat(12, 1fr);
    max-width: 900px;
  }

  .first-card:nth-child(-1n + 3) {
    grid-column: span 4;
  }

  .first-card:nth-last-child(2) {
    grid-row-start: 2;
    grid-column: 3 / span 4;
  }

  .first-card:nth-last-child(1) {
    grid-row-start: 2;
    grid-column: 7 / span 4;
  }

  .version--cards {
    grid-template-columns: repeat(4, 1fr);
    max-width: 750px;
  }

  .versionCard:nth-last-child(3) {
    grid-column: span 2;
  }
  .versionCard:nth-last-child(2) {
    grid-column: span 2;
  }

  .versionCard:nth-last-child(1) {
    grid-column: 2 / span 2;
  }

  .concept--container {
    grid-template-columns: repeat(3, 1fr);
  }
  .dark--card:nth-last-child(1) {
    grid-column: 2;
  }
  .mint--flex {
    flex-direction: column;
  }
  .mint {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
  .mint--card {
    margin: 60px auto 0 auto;
  }
}

@media screen and (max-width: 850px) {
  .multi--cards--container {
    grid-template-columns: repeat(4, 1fr);
    max-width: 550px;
  }
  .first-card:nth-last-child(1n) {
    grid-column: span 2;
  }
  .first-card:nth-last-child(3) {
    grid-column: 2 / span 2;
  }

  .concept--container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .version--cards {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    gap: 48px;
  }
}

@media screen and (max-width: 600px) {
  .multi--cards--container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 48px auto 0 auto;
    align-items: center;
  }

  .left {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .img--border {
    width: 260px;
    height: 260px;
  }

  .comingSoon,
  .paragraph {
    font-size: 18px;
  }

  .versionCard {
    width: 240px;
    height: 265px;
  }

  .versionCard--title {
    font-size: 48px;
    margin-bottom: 26px;
  }
  .versionCard--feature {
    font-size: 24px;
  }
}
