body {
  margin: 0;
  font-family: "Century-Gothic", serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  background: #101820;
  align-items: center;
}

nav > h3 {
  color: #fee715;
  font-size: 36px;
  font-weight: 700;
  margin-left: 24px;
  margin-top: 0;
  margin-bottom: 5px;
  font-family: "modesto-condensed", serif;
}

nav > button {
  width: 149px;
  height: 30px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Century-Gothic", serif;
  font-size: 12px;
  color: #ffffff;
  margin-right: 24px;
  margin-bottom: 5px;
  cursor: pointer;
}

nav > button:hover {
  background: rgba(254, 231, 21, 0.9);
  color: #0a0c0f;
}

.text-container {
  max-width: 970px;
  margin: 0 auto;
  text-align: left;
}

.light {
  background: linear-gradient(180deg, #fff068 0%, #fee715 100%);
  text-align: center;
  padding: 48px;
}

.dark {
  background: linear-gradient(180deg, #0a0c0f 0%, #101820 100%);
  color: #fff;
  text-align: center;
  padding: 48px;
}

.title {
  margin-top: 0;
  font-family: "modesto-condensed", serif;
  font-size: 64px;
}

.paragraph {
  margin-bottom: 0;
  font-size: 24px;
}

.img--border {
  width: 392px;
  height: 391px;
  background: linear-gradient(180deg, #fff068 0%, #fee715 100%);
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 48px auto;
}

.map--img {
  width: 93%;
  height: 94%;
  object-fit: cover;
  border-radius: 18px;
}

.comingSoon {
  width: 215px;
  height: 49px;
  background: #fee715;
  color: #0a0c0f;
  font-size: 24px;
  font-weight: 700;
  border: hidden;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Century-Gothic", serif;
}

.comingSoon:hover {
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
}

/*=========
  Card
==========*/

.multi--cards--container {
  display: grid;
  gap: 48px;
  grid-template-columns: repeat(5, 1fr);
  margin: 48px auto 30px auto;
  max-width: 1400px;
}

.card {
  width: 232px;
  height: 351px;
  border-radius: 6.56px;
  background: linear-gradient(180deg, rgba(254, 231, 21, 0.9) 0%, #fee715 100%);
  color: #000000;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.25);
}

.card--container {
  margin: 12px 13.22px 10px 13.22px;
  border-radius: 6.56069px;
}

.card--img {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 190px;
  margin-bottom: 14px;
  object-fit: cover;
  border-top-left-radius: 6.56069px;
  border-top-right-radius: 6.56069px;
}

.card--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

.card--name {
  margin: 0;
  font-family: "modesto-condensed", serif;
}

.card--price {
  margin: 0;
}

.card--text {
  font-size: 12px;
  margin-bottom: 17px;
  margin-top: 3.5px;
  text-align: left;
}

.card--btn {
  width: 94px;
  height: 30px;
  border-radius: 8px;
  padding: 8px, 16px;
  border: hidden;
  background: #101820;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  margin: 0;
  cursor: pointer;
  font-family: "Century-Gothic", serif;
}

.card > .card--btn:hover {
  background: grey;
  color: #fff;
}

.bold {
  font-weight: 700;
}

.dark--card {
  background: #0a0c0f;
  color: #fff;
}

.dark--btn {
  background: #fee715;
  color: #0a0c0f;
}

/*============
Version Card
===========*/

.versionCard {
  width: 275px;
  height: 340px;
  border-radius: 18px;
  padding: 26px;
  background: #ffffff;
}

.versionCard--title {
  font-family: "modesto-condensed", serif;
  font-size: 64px;
  margin-top: 0;
  margin-bottom: 22px;
}

.versionCard--feature {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 16px;
}

.version--cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  margin: 48px auto 25px auto;
  gap: 93px;
}

@media screen and (max-width: 1450px) {
  .multi--cards--container {
    grid-template-columns: repeat(12, 1fr);
    max-width: 900px;
  }

  .first-card:nth-child(-1n + 3) {
    grid-column: span 4;
  }

  .first-card:nth-last-child(2) {
    grid-row-start: 2;
    grid-column: 3 / span 4;
  }

  .first-card:nth-last-child(1) {
    grid-row-start: 2;
    grid-column: 7 / span 4;
  }

  .version--cards {
    grid-template-columns: repeat(4, 1fr);
    max-width: 750px;
  }

  .versionCard:nth-last-child(3) {
    grid-column: span 2;
  }
  .versionCard:nth-last-child(2) {
    grid-column: span 2;
  }

  .versionCard:nth-last-child(1) {
    grid-column: 2 / span 2;
  }

  .concept--container {
    grid-template-columns: repeat(3, 1fr);
  }
  .dark--card:nth-last-child(1) {
    grid-column: 2;
  }
}

@media screen and (max-width: 850px) {
  .multi--cards--container {
    grid-template-columns: repeat(4, 1fr);
    max-width: 550px;
  }
  .first-card:nth-last-child(1n) {
    grid-column: span 2;
  }
  .first-card:nth-last-child(3) {
    grid-column: 2 / span 2;
  }

  .concept--container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .version--cards {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .multi--cards--container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 48px auto 0 auto;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .img--border {
    width: 260px;
    height: 260px;
  }

  .versionCard {
    width: 220px;
  }
}
